@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/*
   Selectores básicos
   - elemento o etiqueta  => especificidad de 001
   - clase                => especificidad de 010
   - ID                   => especificidad de 100

  selector {
    propiedad: valor;
    propiedad2: valor;
  }

  Tipo Elemento 
  p {
    text-align: center;
  }

  Tipo Clase
  .parrafos {
     text-align: center;
  }

  Tipo ID
  #parrafo-principal{
    text-align: center;
  }


  [ tipos de formas para definir variables]
  -  snake_case  (separan las palabras por guion bajo)
  -  camelCase   (comienza con minuscula y si tiene mas de una palabra las sgtes. comienzan con Mayus
  -  PascalCase  (todas las palabras comienzan con Mayus)
  -  kebab-case  (las palabras en minuscula se separan con guion)

*/

/* 
p{
  text-align: left;
} 
*/

body{
  font-family: 'Poppins', sans-serif;
}
/* selector de agrupacion*/

h3, h4, h5{
  color: #ff000091;  
  /* 
    rgb(0-255, 0-255, 0-255)
    0-9 A-F  (hexa) #6digitos

    rgba(255, 0, 0, 0.568); =>el ultimo es el alpha  
    hexa => #8digitos
  */
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
}

section p.encabezados{
  font-size: 10px;
}

section>p.encabezados{
  font-size: 40px;
}

p.encabezados{
  font-size: 16px;
}

.encabezados{
  color: red;
  font-size: 36px;
  text-align: center;
}


.parrafos{
  color: blue;
  font-size: 16px;
  text-align: justify;
}


#noticias{
  background-color: lightgray;
}

.section2>p.encabezados{
  font-size: 20px;
  color: blue;
}