@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");
/*
    background: agrupa un conjunto de propiedades
    background-color
    background-size
    background-image
    background-repeat
    background-position

    top center right left bottom
*/
/* *{
  margin: 0;
  padding: 0;
} */

.container {
  /* para el contenedor */
  border: 2px solid black;
  height: 600px;
  width: 100%;
  opacity: 1;
}

.fondo {
  background-image: url("../images/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sun {
  background-image: url("../images/sun.png");
  background-color: salmon;
  background-position: top right;
  background-repeat: repeat-y;
}

.sun-compuesto {
  background-image: url("../images/sun.png"), url("../images/sun.png"),  url("../images/sun.png");
  background-color: salmon;
  background-position: center, center, bottom right;
  background-repeat: repeat-x, repeat-y, repeat-y;
}

.fondo-compuesto {
  background-image: url("../images/sun.png"),url("../images/fondo.jpg");
  background-position: top left, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

/*  to top, to bottom, to left, to right deg*/
.gradiente{
  background: linear-gradient(to right, red 70%, blue, yellow);
}

.fondo-fijo{
  background-attachment: fixed;
}

.espacio {
  height: 900px;
}

.icono-home{
  text-align: right;
}
